.App{
  height: 100vh;
  font-family: "Asap";
}

h5{
  font-weight: 400;
}

.container-fluid{
  height: 100%;
  padding: 0%;
}

.plotBars{
  border: 1px solid black;
  background-color: greenyellow;
}

.danger-height{
  height: 70vh
}

.danger-width{
  height: 70vw
}

