.App{
  height: 100vh;
  
  font-family: "Asap";
}

h5{
  font-weight: 400;
}

.container-fluid{
  height: 100%;
  padding: 0%;
}

.parent-div{
  width:100%
}

.flickeringElementFix {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.plot{
  padding: 0;
}